.land_input {
    border:solid 2px #009688;
}
.land_card{
    border:solid 1px #cbf3e6
}
.land_card-header{
    background-color: #cbf3e6;
}
.layui-table td, .layui-table th{
    font-size: 9px;
    padding: 3px 9px;
}