<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.land.modular.weekwork.mapper.WeekWorkMainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.land.modular.weekwork.entity.WeekWorkMain">
        <id column="id" property="id" />
        <result column="create_user" property="createUser" />
        <result column="create_user_name" property="createUserName" />
        <result column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="year" property="year" />
        <result column="month" property="month" />
        <result column="week" property="week" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, create_user AS createUser, create_user_name AS createUserName,
        dept_id AS deptId, dept_name AS departName, year AS year,
        month AS month, week AS week, create_time AS createTime,
        update_user AS updateUser, update_user_name AS updateUserName, update_time AS updateTime,
        status AS status,remark AS remark
    </sql>
    <!---->
    <select id="selectListByPage" resultType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from week_work_main
        where 1=1
        <if test="main.deptName != null and main.deptName != ''">
            and dept_name like CONCAT('%',#{main.deptName},'%')
        </if>
        <if test="main.createUserName != null and main.createUserName != ''">
            and create_user_name like CONCAT('%',#{main.createUserName},'%')
        </if>
        <if test="userId != null and userId != ''">
            and create_user = #{userId}
        </if>
        <if test="deptId != null and deptId != 0">
            and (dept_id = #{deptId} or create_user in ( select user_id from sys_user where dept_id =#{deptId}))
        </if>
        <!--<if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
            and (create_time between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
        </if>-->
        <if test="beginTime != null and beginTime != ''">
            and create_time >= CONCAT(#{beginTime},' 00:00:00')
        </if>
        <if test="endTime != null and endTime != ''">
            and create_time &lt;=CONCAT(#{endTime},' 23:59:59')
        </if>
        order by create_time desc
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from week_work_main
        where 1=1
        <if test="main.year != null and main.year != ''">
            and year = #{main.year}
        </if>
        <if test="main.month != null and main.month != ''">
            and month = #{main.month}
        </if>
        <if test="main.week != null and main.week != ''">
            and week = #{main.week}
        </if>
        <if test="main.deptId != null and main.deptId != ''">
            and dept_id = #{main.deptId}
        </if>

    </select>
</mapper>